.ocian_hub{
  padding: 189px 140px;
  background-color: #f6f6f6;
}
.ocian_hub_title h2{
  font-family: Poppins;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.48;
  letter-spacing: normal;
  text-align: center;
  color: #424651;
}
.ocian_image_box{
  padding-top: 150px;
  justify-content: center;
  text-align: -webkit-center;
}
.ocian_image_box_title h4{
  padding-bottom: 20px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.77;
  letter-spacing: normal;
  text-align: center;
  color: rgba(66, 70, 81, 0.87);
}
.ocian_image_box_title{
  padding-top: 50px;
}
 .ocian_image_box_title p{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: rgba(66, 70, 81, 0.6);
 }