.site_logo_img {
  width: 198px;
  height: 98px;
  margin: 0 128px 0 0;
}
.nav-item a {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #424651 !important;
}
.nav .nav-item .blue-link {
  color: blue !important;
}

.custom-text-style {
  text-align: center;
  white-space: pre-wrap;
  font-synthesis: none;
  font-size: 14px;
  font-family: "Poppins";
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
  margin: 0px;
  line-height: 1.5;
  font-stretch: normal;
  font-style: normal;
  margin-right: 30px;
  cursor: pointer;
}
