/* For Desktop View */
@media screen and (min-width: 1024px) {
  .root {
    /* background-color: #f6f6f6; */
    background-color: red;
    width: 100%;
  }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .root {
    width: 400px;
    height: 400px;
    /* background-color: #f6f6f6; */
    background-color: gold;
    color: black;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .root {
    /* width: 200px;
      height: 200px; */
    /* background-color: #f6f6f6; */
    background-color: hotpink;
  }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  .root {
    width: 400px;
    height: 200px;
    /* background-color: #f6f6f6; */
    background-color: khaki;
    color: black;
  }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .root {
    width: 400px;
    height: 200px;
    /* background-color: #f6f6f6; */
    background-color: salmon;
    color: black;
  }
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .root {
    /* width: 400px;
      height: 400px; */
    /* background-color: #f6f6f6; */
    background-color: magenta;
    width: 100%;
  }
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .root {
    width: 400px;
    height: 400px;
    /* background-color: #f6f6f6; */
    background-color: greenyellow;
    color: black;
  }
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  .root {
    width: 400px;
    height: 400px;
    /* background-color: #f6f6f6; */
    background-color: lawngreen;
    color: black;
  }
}
