*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.Banner{
  margin: 0 0 1px;
  padding: 0 0 344px;
  background-color: rgba(210, 236, 255, 0.6);
  position: relative;
}

.Banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity:0.6;
  z-index: -1;
}


