* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Banner {
  /* position: relative;
  background-size: cover;
  background-image: url("../../assets//Images//boat-background-img.jpeg"); */
  /* background-repeat: round; */
  /* width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex; */

  /*  */
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* width: 100%;
  height: 100%; */
  background-image: url("../../assets//Images//boat-background-img.jpeg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
}

.insideBackGround-img {
  position: relative;
  z-index: 1;
}
/* .Banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
} */

.Banner .Welcome-to-the-only-ocean-hub-in-Saudi-Arabia {
  font-family: Poppins;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  width: 100%;
  height: auto;
  /* color: var(--charcoal-grey-87); */
  /* color: rgba(66, 70, 81, 0.87); */
  color: #2e2e2e;
}

.Banner .sub-titile {
  padding: 24px 0 80px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  /* color: var(--charcoal-grey-87); */
  /* color: rgba(66, 70, 81, 0.87); */
  color: #2e2e2e;
  width: 100%;
  height: auto;
}

.Banner .get-start-btn {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 30px;
  /* margin: 70px 11rem 0px 0px; */
  min-width: 30%;

  font-size: 24px;
  font-family: Poppins;
  font-weight: bolder;
  text-align: center;
  border-radius: 60px;
  border-color: #026b93;
  border-width: 2px;
  background-color: transparent;
  color: #026b93;
  /* background-color: aqua; */
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.09);
}

.Banner .get-start-btn:hover {
  background-color: #026b93; /* Change to the desired color when pressed */
  color: white; /* Change to the desired text color when pressed */
  border-color: #026b93; /* Change to the desired border color when pressed */
}

/* ======================================>>>>>>>>>>>>>>>>>   max-width: 767px */
@media (max-width: 767px) {
  .Banner {
    background-size: contain;
  }
  .Banner .Welcome-to-the-only-ocean-hub-in-Saudi-Arabia {
    font-size: 24px;
    /* background-color: lightgray; */
  }
  .Banner .sub-titile {
    font-size: 14px;
    /* background-color: lightcoral; */
  }
  .Banner .get-start-btn {
    font-size: 14px;
    padding: 10px;
    /* background-color: lightgreen; */
  }
}
