.choose_journey{
  background-color: #f6f6f6;
  padding: 130px 100px 164.9px 100px;
}

.choose_journey_title{
  height: 56px;
  margin: 0px auto 220px auto;
  
}
.choose_journey_title h2{
  width: 672px;
  height: 133px;
  font-family: Poppins;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: rgba(66, 70, 81, 0.87);
}
.boat_carousal{
  display: flex;
  gap: 20;
}
.boat_img{
  width: 665px;
  /* height: 265px; */
  object-fit: contain;
  opacity: 0.9;
}

