.boat_owners{
  background-image: linear-gradient(to bottom, #70a8c0, #3c85a7 29%, #03487a 74%, #03487a);
  padding: 150px 120px 50px 120px !important;
}
.boat_owners_title h5{
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: start;
  color: #f6f6f6;
}
.boat_owners_title h2{
  margin-top: 50px;
  font-family: Poppins;
  font-size: 45px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #f6f6f6;
}
.boat_owners_desc{
  margin-top: 50px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #f6f6f6;
}
.boat_owner_btn{
  margin-top: 50px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #f6f6f6;
  border-radius: 45px !important;
  background: transparent !important;
  border-color: #f6f6f6 !important;
  width: auto;
  height: 75px;
  padding: 15px;
}
.img-fluid {
  max-width: 100%;
  height: -webkit-fill-available !important;
}
.boat_owners_desc p{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: rgba(246, 246, 246, 0.87);
}
